@import 'src/app/variables';

.game-square {
  border: $square-border-width solid white;
  box-sizing: border-box;
  height: $square-size;
  position: relative;
  width: $square-size;

  &.double-letter {
    background-color: #AFCCC8;
  }

  &.triple-letter {
    background-color: #34829D;
  }

  &.double-word {
    background-color: #F0A896;
  }

  &.triple-word {
    background-color: #E44C38;
  }

  &:hover {
    border: 2px solid blue;
  }

  .game-square-text {
    font-size: 13px;
    height: $tile-size;
    line-height: $tile-size / 3;
    text-align: center;
    width: $tile-size;
  }

  .center-star-svg {
    height: $tile-size;
    width: $tile-size;
  }

  .interceptor {
    height: 100%;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 100%;
  }

}