@import 'src/app/mixins';

.player-list {
  @include floating-panel;

  // margin-right: 10px;
  // margin-top: 10px;
  // position: absolute;
  right: 0;
  top: 0;


  display: flex;
  justify-content: space-around;

  .player-list-item {
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    opacity: 0.6;
    padding: 5px;

    &.current-player {
      border: 4px solid red;
      // box-shadow: 4px 4px 7px 5px rgba(255, 0, 0, 0.75),  -4px -4px 7px 5px rgba(255, 0, 0, 0.75);
      opacity: 1;
    }
  }
}