<div class="player-list">

  <div class="player-list-item" *ngFor="let player of game.players"
    [ngClass]="{ 'current-player': player.isCurrentPlayer }">

    <!-- <mat-icon *ngIf="player.isCurrentPlayer" svgIcon="playarrow"></mat-icon> -->
    <mat-icon svgIcon="account_circled"></mat-icon>

    <div style="margin-left: 3px;">
      <div style="text-align: center; font-size: 12px;">{{ player.user.username }}</div>
      <div style="text-align: center; font-size: 16px;">{{ player.score }}</div>
    </div>

  </div>

</div>

