.app-header {
  display: flex;
  justify-content: space-between;
  height: 42px;
  line-height: 24px;
  padding: 0 1%;

  .header-clickable {
    align-items: center;
    display: flex;

    &:hover {
      cursor: pointer;
    }
  }
}

.app-body {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 44px;
}