<div class="game-board">

  <div class="game-board-row">
    <sk-square multiplier="3W"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="3W"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="3W"></sk-square>
  </div>

  <div class="game-board-row">
    <sk-square></sk-square>
    <sk-square multiplier="2W"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="3L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="3L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2W"></sk-square>
    <sk-square></sk-square>
  </div>

  <div class="game-board-row">
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2W"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2W"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
  </div>

  <div class="game-board-row">
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2W"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2W"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
  </div>

  <div class="game-board-row">
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2W"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2W"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
  </div>

  <div class="game-board-row">
    <sk-square></sk-square>
    <sk-square multiplier="3L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="3L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="3L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="3L"></sk-square>
    <sk-square></sk-square>
  </div>

  <div class="game-board-row">
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
  </div>

  <div class="game-board-row">
    <sk-square multiplier="3W"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2W" center="true"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="3W"></sk-square>
  </div>

  <div class="game-board-row">
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
  </div>

  <div class="game-board-row">
    <sk-square></sk-square>
    <sk-square multiplier="3L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="3L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="3L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="3L"></sk-square>
    <sk-square></sk-square>
  </div>

  <div class="game-board-row">
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2W"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2W"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
  </div>

  <div class="game-board-row">
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2W"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2W"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
  </div>

  <div class="game-board-row">
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2W"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2W"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
  </div>

  <div class="game-board-row">
    <sk-square></sk-square>
    <sk-square multiplier="2W"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="3L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="3L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2W"></sk-square>
    <sk-square></sk-square>
  </div>

  <div class="game-board-row">
    <sk-square multiplier="3W"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="3W"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="2L"></sk-square>
    <sk-square></sk-square>
    <sk-square></sk-square>
    <sk-square multiplier="3W"></sk-square>
  </div>

</div>