<div class="tile-rack">

  <div skTileDropZone (pickUp)="onPickUpTile($event)" (drop)="onDropTile($event)" class="rack-letter-slot">
    <ng-template #insertionPoint></ng-template>
  </div>

  <div skTileDropZone (pickUp)="onPickUpTile($event)" (drop)="onDropTile($event)" class="rack-letter-slot">
    <ng-template #insertionPoint></ng-template>
  </div>

  <div skTileDropZone (pickUp)="onPickUpTile($event)" (drop)="onDropTile($event)" class="rack-letter-slot">
    <ng-template #insertionPoint></ng-template>
  </div>

  <div skTileDropZone (pickUp)="onPickUpTile($event)" (drop)="onDropTile($event)" class="rack-letter-slot">
    <ng-template #insertionPoint></ng-template>
  </div>

  <div skTileDropZone (pickUp)="onPickUpTile($event)" (drop)="onDropTile($event)" class="rack-letter-slot">
    <ng-template #insertionPoint></ng-template>
  </div>

  <div skTileDropZone (pickUp)="onPickUpTile($event)" (drop)="onDropTile($event)" class="rack-letter-slot">
    <ng-template #insertionPoint></ng-template>
  </div>

  <div skTileDropZone (pickUp)="onPickUpTile($event)" (drop)="onDropTile($event)" class="rack-letter-slot">
    <ng-template #insertionPoint></ng-template>
  </div>

</div>
