<div class="tile-rack">

  <div skTileDropZone class="rack-letter-slot">
    <ng-template skLetterTileInsertionPoint></ng-template>
  </div>

  <div skTileDropZone class="rack-letter-slot">
    <ng-template skLetterTileInsertionPoint></ng-template>
  </div>

  <div skTileDropZone class="rack-letter-slot">
    <ng-template skLetterTileInsertionPoint></ng-template>
  </div>

  <div skTileDropZone class="rack-letter-slot">
    <ng-template skLetterTileInsertionPoint></ng-template>
  </div>

  <div skTileDropZone class="rack-letter-slot">
    <ng-template skLetterTileInsertionPoint></ng-template>
  </div>

  <div skTileDropZone class="rack-letter-slot">
    <ng-template skLetterTileInsertionPoint></ng-template>
  </div>

  <div skTileDropZone class="rack-letter-slot">
    <ng-template skLetterTileInsertionPoint></ng-template>
  </div>

</div>
