@import 'src/app/variables';

.tile-rack {
  border: 4px groove black;
  display: flex;
  height: $tile-size + 2px;
  margin-top: 10px;
  padding: 12px 12px;
  width: ($tile-size + 2px) * 7;

  .rack-letter-slot {
    border:1px dotted black;
    width: 50px;
    height: 50px;
  }
}